@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html {
    height: 110%;
}

header {
    display: flex;
    flex-direction: row-reverse;
    background-color: #BE3144;
    font-size: 1.4em;
}

nav {

    padding: 20px;
    background-color: #BE3144;
}

nav > a {
    padding: 20px;
    text-decoration: none;
    color: white;
    border-collapse: collapse;
}

nav > a:hover {
    background-color: rgb(32, 106, 136);
}

main {
    height: 100%;
}

#section1 {
    display: flex;
    position: relative;
    min-height: 100%;
    background-image: linear-gradient(to right, #373A3C,#1B1B1D);
    color: white;
}

.textcontain {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.textcontain > h1 {
    font-size: 3.5em;
}

.textcontain > p {
    color: #BE3144;
    font-style: italic;
    text-align: center;
    font-size: 2em;
}

#section2 {
    background-color: #45567D;
    padding: 20px 20px 50px;
}

.legendas {
    text-align: center;
    background-color: #303841;
}

.legendas > p > i {
    opacity: 0;
    text-align: center;
    background-color: #303841;
    transition: .5s;
    color: rgb(202, 152, 57);
}

.legendas:hover > p > i {
    opacity: 1;
}

.imagens > a {
    text-decoration: none;
}

.legendas > p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.3em;
}

#section2 > h2 {
    margin: auto;
    max-width: 650px;
    color: white;
    text-align: center;
    font-size: 2.5em;
    padding: 50px 50px 10px;
    margin-bottom: 70px;
    border-bottom: 1px solid white;
}

#section2 > a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303841;
    color: white;
    text-decoration: none;
    width: 150px;
    text-align: center;
    font-size: 1.3em;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    margin-top: 50px;
    transition: .5s;
}

span {
    transition: .5s;
}

#section2 > a:hover {
    background-color: #BE3144;
}

a:hover > span {
    transform: translateX(+5px);
}

.imagens > img {
    margin-top: 30px;
}

#section3 {
    display: flex;
    height: 60%;
    background-color: #303841;
    border-bottom: 3px solid #BE3144;
}

#div3 {
    margin: auto;
    justify-content: center;
    align-items: center;

}

#div3 > h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 2.7em;
    color: white;
    padding-bottom: 10px;
}

#div3 > p {
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    color: rgba(255, 255, 255, 0.699);
    padding-bottom: 30px;
}

#links > a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 15px 25px;
    transition: .5s;
}

#links > a:hover {
    transform: translateY(+10px);
}

a > i {
    padding-right: 5px;
}

#links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}


footer {
    display: flex;
    background-color: #303841;
    color: white;
    font-size: 1.1em;
    height: 15%;
    text-align: center;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

footer > div {
    padding: 35px;
}

